In [12]:
import _pickle as pickle
import jsonlines

heads = []
descs = []
keywords = []

with jsonlines.open('signalmedia-1m' + '.jsonl','r') as reader:
    i = 0
    for obj in reader:
        if i < 1000000:
            i += 1
            head = obj["title"]
            desc = [s.strip() for s in obj["content"].splitlines()]
            heads.append(head)
            descs.append(desc)
            keywords.append(None)
        else:
            break

descs[2]
new_desc = []
for i in range(len(descs)):
    new_art = "".join(descs[i])
    new_desc.append(new_art)

In [17]:
heads[:5]

['Worcester breakfast club for veterans gives hunger its marching orders',
 'Jumpshot Gives Marketers Renewed Visibility Into Paid and Organic Keywords With Launch of Jumpshot Elite',
 'The Return Of The Nike Air Max Sensation Has 80’s Babies Hyped!',
 'This New Dating App Will Ruin Your Internet Game',
 'Pay up or face legal action: DBKL']

In [22]:
new_desc[5]

'Mumbai, Sep 11 : Following were the indicative currency notes\xa0 and travellers’ cheques buying and selling rates per unit\xa0 today.\xa0 CURRENCY NAME BUY SALE UAE DIRHAM 16.7276 19.1652 AUSTRALIAN DOLLAR 43.7311 49.3792\xa0 BANGLADESH TAKA 0.782276 0.921413\xa0 BAHRAIN DINAR 163.3139 186.6076 CANADIAN DOLLAR 46.2854 53.1733\xa0 SWISS FRANC 63.3832 72.8305 CHINESE YUAN 7.36 11.96 DANISH KRONE 9.1253 10.6636     EURO 69.8139 79.004\xa0 STERLING POUND 95.581 108.1744 HONG KONG DOLLAR 7.7277 9.2278\xa0 JAPANESE YEN 0.5098 0.5795 KUWAITI DINAR 181.7544 225.9568\xa0\xa0 SRI LANKA RUPEE 0.4387 0.5162 MALAYSIAN RINGITT 13.6713 16.8179 NORWEGIAN KRONE 7.3399 8.6565 NEPALESE RUPEE 0.5749 0.6251 NEW ZEALAND DOLLAR 38.0173 44.6709 OMANI RIAL 160.016414 182.547573 PAKISTAN RUPEE 0.5835 0.6864 QATARI RIAL 16.8627 19.3201 SAUDI RIAL 16.3564 18.9515 SWEDISH KRONA 7.1261 8.4018 SINGAPORE DOLLAR 42.9001 50.6758 THAI BAHT 1.6894 2.0027 US DOLLAR 61.8807 70.0204 SOUTH AFRICAN RAND 4.2193 5.1954'

In [14]:
from pandas import DataFrame

dataset = {}
dataset['issue_title'] = heads
dataset['body'] = new_desc

df = DataFrame(dataset, columns= ['issue_title', 'body'])

In [15]:
export_csv = df.to_csv (r'News_headline.csv', index = None, header=True)